# Backend dependencies 


# dependencies to read uploads (pdfs? txt files?)
PyPDF2==3.1.1

# UI dependencies
streamlit==1.45.1


# LLM ?
gpt4all==1.0.2

# Other (will most likely be using)
pandas==2.3.1
